@using Microsoft.Extensions.Localization
@using Almhd.Shared.Resources
@using Almhd.Shared
@inject IStringLocalizer<Resource> _localizer

@{
    ListModel listModel = (ListModel) Model;
    string root = Url.Content("~/");
}

@if (listModel.Posts.Count() > 0)
{
    @for (int i=0;i<Math.Min(4,listModel.Posts.Count());i++)
    {
        var post = listModel.Posts.ToList()[i];
        <article class="post-list col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <figure class="post-list-cover">
                    <div class="post-list-img col-12" style="background: url('@post.Cover')"></div>
                </figure>
                <section class="post-list-details position-relative">
                    <h2 class="post-list-title">
                        <a class="post-list-link" href="~/posts/@post.Slug">@post.Title</a>
                    </h2>
                    <div class="post-list-meta d-flex justify-between width-100%">
                        <div class="post-list-meta-item post-list-date">
                            <time class="post-list-date-time">@post.Published.ToFriendlyShortArabicDateString()</time>
                        </div>
                        <div class="post-list-meta-item post-list-author">
                            <span class="post-list-author-name">@post.Author.DisplayName.ToUpper()</span>
                         </div>
                        <div class="post-list-meta-item post-list-author">
                            <span class="post-list-author-name"><i class="bi bi-eye" style="margin-left: 5px"></i>@post.PostViews</span>
                        </div>
                        @if (post.Categories != null)
                        {
                            <div class="post-list-meta-item post-list-cat">
                                @foreach (var cat in post.Categories)
                                {
                                    <a class="post-list-cat-title" tabindex="-1" href="~/categories/@cat.Content">@cat.Content</a>
                                }
                            </div>
                        }
                    </div>
                    @*<p class="post-list-desc">@Html.Raw(post.Description)</p>
                    <a class="post-list-more" href="~/posts/@post.Slug" tabindex="-1">
                        Read More
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </a>*@
                </section>
        </article>
    }
}
else
{
    <div class="h1 text-capitalize">@_localizer["empty"]!</div>
}
